
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation-container{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    opacity: 70%;
}

.component{
    animation-name: stretch;
    animation-duration: 1.2s; 
    animation-timing-function: linear; 
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
}

@for $i from 2 through 4 { 
    .component:nth-of-type(#{$i}) {
        animation-delay: #{$i * .05}s;
    }
  }

@keyframes stretch {
0% {
    transform: scale(1);
    background-color: #1b6e6a;
}
100% {
    opacity: 100%;
    background-color: #3bcfcf;
    transform: scale(.5) ;
}
}

@media(prefers-color-scheme: dark){

}