$color_primary: #F2F6F5;
$desktop-max-width: 1240px;

$font-small: .9rem;
$font-medium: 1.225rem;
$font-large: 1.8rem; 
$font-extra-large: 2.5rem; 

$box-shadow-regular:  -2px 2px 5px rgba(100, 126, 117, 0.2);
$box-shadow-regular--hover: -3px 3px 10px rgba(88, 94, 92, 0.3);
$transition-regular: all .2s ease;