@import './styles/fonts.scss';
@import './styles//variables.scss';

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$desktop-max-width: 1240px;
$font-small: .75rem;
$font-medium: 1.125rem;
$font-large: 1.75rem; 
$font-extra-large: 2.5rem; 
$box-shadow-regular:  -2px 2px 5px rgba(100, 126, 117, 0.2);
$box-shadow-regular--hover: -3px 3px 10px rgba(88, 94, 92, 0.3);
$transition-regular: all .2s ease;

html, body{
  height: 100%;
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  cursor: pointer;
  font-family: 'Roboto';
}
#root{
  display: flex;
  min-height: 100%;
  background-color: #FAFFFC;
}


.app-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-header{
  width: 100%;
  height: 90px;
  z-index: 10;
  //background-color: #F2F6F5;
  //background-color: darken(#FAFFFC, 1%);
  //box-shadow: 0 1px 8px rgba(77, 86, 90, 0.2);
}
.logo-container{
  position: absolute;
  left: 40px;
  top: 12px;
  z-index: 10;
}

.logo{
  width: 160px;
  height: 50px;
  background-image: url(./assets/images/Profound.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.app-nav{
  position: absolute;
  right: 40px;
  top: 24px;
}

.search-container{
  max-width: 500px;
  width: 100%;
  height: 35px;
  margin: auto;
  background-color: rgba(198, 229, 214, 0.3);
  border-radius: 25px;
  flex-grow: 1;
}

.content{
  width: 100%;
  max-width: $desktop-max-width;
  margin: auto;
  margin-top: 100px;
}

.course-list{
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px) ;
  gap: 20px;
}

.course-preview{
  cursor: pointer;
  width: 270px;
  height: 170px;
  border-radius: 5px;
  box-shadow: $box-shadow-regular;
  background-color: #d7f1e4;
  transition: $transition-regular;
  &:hover{
    background-color: lighten(#d7f1e4, 3%);
    box-shadow: $box-shadow-regular--hover;
  }
}

.p-info{
  padding: 12px 16px;
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr ;
}

.p-title{
  margin: auto 0;
}

.p-creator{
  font-size: $font-small;
}

.p-description{
  text-overflow: ellipsis;
}

.p-price{
  position: absolute;
  right: 24px;
  bottom: 12px;
}

.auth-link{
  text-decoration: none;
  color: black;
  margin-left: 12px;
  background-color: rgba(198, 229, 214, 0.28);
  border-radius: 45px;
  padding: 8px 28px;
  font-size: $font-medium;
}

.section{
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.section-title{
  font-size: $font-large;
  font-weight: 400;
  margin-bottom: 8px;
}

.home{
  display: flex;
  justify-content: center;
  max-width: 1060px;
  width: 90%;
  margin: auto;
  .course-preview{
    width: 100%;
    background-color: #ECF8F4;
  }
}

.user-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 550px;
  padding: 28px;
  background-color: rgba(164, 206, 185, 0.42);
  border-radius: 5px 45px 5px 5px;
}

.user-img{
  background-image: url('./assets/images/user.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  margin: 24px auto;
}
.home-section{
 flex-grow: 1;
 margin-left: 12px;
 padding: 12px;
}

.menu-list{
  list-style: none;
}

.dropdown{
  position: absolute;
  width: 190px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  font-size: $font-medium;
  background-color: rgba(198, 229, 214, 0.3);
  z-index: 10;
}

.menu-list-dropdown{
  background-color:  rgb(211, 233, 222);
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 0;
  list-style: none;
  border-radius: 15px;
  overflow: hidden;
}

.menu-link{
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  transition: $transition-regular;
  display: block;
  margin-top: 8px;

  &:hover, &:focus{
    background-color: #ECF8F4;
  }
  &.active{
    background-color: #ECF8F4;
  }
}

.menu-list .menu-link{
  padding: 8px 12px;
  border-radius: 16px;
  font-size: $font-medium;
  width: fit-content;
  &:hover, &:focus{
    background-color: #ECF8F4;
  }
  &.active{
    background-color: #ECF8F4;
  }
}

.dropdown .menu-link{
  margin: auto;
  text-align: center;
}

.logout-btn{
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}



.auth-container{
  position: relative;
  margin:auto;
  //background-image: url(./assets/images/backgraund.svg);
  //background-repeat: no-repeat;
  //background-size: contain;
}

.auth-form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.input{
  width: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  color: #191e1e;
  margin-bottom: 1em;
  padding: 15px 10px 10px;

  border: none;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #578a8a transparent ;
  border-radius: 5px;

  transition: $transition-regular;

  &::placeholder{
    color: var(--color-cyan);
    font-weight: 500;
  }

  &:focus{
    outline: none;
    border-color: #578a8a;
    background-color: #ECF8F4;
    opacity: 100%;
    border: 2px solid #578a8a;
  }
}

.submit-btn{
  font-size: $font-medium;
  transition: $transition-regular;
  border-radius: 5px;
  border: none;
  background-color: #393d3d;
  color: white;
  padding: 12px 20px;
  font-weight: 600;

  &:hover, &:focus{
    background-color: #578a8a;
    outline: none;
  }
}

.auth-submit{
  margin-top: 1rem;
  align-self: flex-end;
}


.title{
  font-size: $font-extra-large;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 300;
  text-align: center;
}



.sidebar{
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #31625D;
  border-radius: 0 60px 0 0;
  box-shadow: -10px 10px 20px #49585673;
}

.course-menu{
  margin-top: 16px;
  color: #f7fffc;
  list-style: none;
}

.course-name{
  display: block;
  padding: 8px 12px;
  //margin: 8px;
  //border-radius: 5px;
  font-weight: 300;
  //font-size: $font-medium;
  //color: #000000;
  background-color: #cbf8e227;

}
.module-name{
  display: block;
  padding: 8px;
  margin-left: 8px;
  font-weight: 500 ;
  position: relative;
}

.lessons-list{
  list-style: none;
  margin-left: 12px;
  margin-top: 4px;
}
.lessons-link{
  text-decoration: none;
  color: #f7fffc;
  cursor: pointer;
  display: block;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: 400 ;
  font-size: 1rem;
  margin-bottom: 2px;
  
  &.active{
    background-color: #cbf8e23d;
  }
  &:hover{
    background-color: #cbf8e275;
  }
}
.course-component{
  background-color: #ECF8F4;
  border: 2px solid #DFEDE9;
  padding: 24px;
}
.container{
  margin-top: 100px;
}
.learn-container{
  margin-left: 270px;
  margin-top: 12px;
  margin-right: 60px;
  padding: 8px 24px;
}

.learning-component{
  display: flex;
  flex-direction: column;
}

.to-next{
  display: inline-block;
  align-self: flex-end;
  margin-top: 24px;
  margin-right: 24px;
  text-decoration: none;
  font-size: $font-medium;
  color: #000;
  padding: 8px 24px;
  background-color: #C6E5D6;
  border-radius: 5px;
}

.back-btn{
  position: relative;
  display: inline-block;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 12px;
  text-decoration: none;
  font-size: $font-medium;
  font-weight: 500;
  color: #fdfffe;
  padding: 8px 24px;
  &::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-image: url(./assets/images/left2.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.section-header{
  margin-bottom: 12px;
}
.delimiter{
  margin-top: 4px;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #C6E5D6;
}

.component-title{
  font-weight: 300;
  font-size: $font-medium;
}

.hidden{
  display: none;
}

.discussion-section{
  margin-top: 49px;
  padding: 12px;
}

.comment{
  margin-top: 12px;
  max-width: 600px;
  background-color: rgba(255, 250, 225, 0.4);
  border: 2px solid rgba(247, 237, 190, 0.712);
  border-radius: 5px;
  padding: 8px 12px;
}