@import './styles/fonts.scss';
@import './styles//variables.scss';

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


%link{
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: block;
}

html, body{
  height: 100%;
  font-size: 16px;
  background-color: #f7fffa;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  min-height: 100%;
}

.app-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo{
  width: 160px;
  height: 50px;
  background-image: url(./assets/images/Profound.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.app-nav{
  height: 50px;
  margin-top: 12px ;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content{
  margin: 0 4vw;
}

.discover-section{
  width: 90%;
  margin: auto;
}

.course-list{
  width: 100%;
  margin-top: 16px ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)) ;
  gap: 20px;
}

.course-preview{
  cursor: pointer;
  color: #191e1e;
  text-decoration: none;
  height: 180px;
  border-radius: 5px;
  box-shadow: $box-shadow-regular;
  background-color: #e7f8f0;
  background-image: url('./assets/images/print.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: $transition-regular;
  &:hover{
    background-color: lighten(#e7f8f0, 5%);
    box-shadow: $box-shadow-regular--hover;
  }
  .preview--description{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}

.preview{
  display: grid;
  position: relative;
  text-overflow: ellipsis;
  padding: 12px 16px;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

.preview--title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #1d2c2c;
  margin: 4px 0 2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.preview--creator{
  font-size: $font-small;
  font-weight: 400;
  color: #137e7e;
}

.preview--description{
  font-size: .9rem;
  padding: 5px 0;
  color: #111;
}

.preview--price{
  justify-self: end;
  font-weight: 500;
  color: #114d4d;
}

.actions-container{
  display: flex;
}
.auth-link{
  @extend %link;
  margin-left: 12px;
  background-color: rgba(198, 229, 214, 0.28);
  border-radius: 45px;
  padding: 8px 28px;
  font-size: $font-medium;
}



.home{
  display: flex;
  max-width: 1080px;
  width: 90%;
  margin: auto;
}

.user-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  height: 650px;
  padding: 16px;
  background-color: rgba(164, 206, 185, 0.42);
  background-color: #d3eee0;
  border-radius: 5px 45px 5px 5px;
}

.user-img{
  background-image: url('./assets/images/user.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  margin: 24px auto;
}

.home-section{
 margin-left: 12px;
 padding: 12px;
 flex-grow: 1;
 max-height: 650px;
 overflow: scroll;
}

.menu-list{
  list-style: none;
}

.dropdown{
  position: relative;
  //width: 190px;
  //height: 35px;
  padding: 4px 36px;
  display: grid;
  grid-template-columns:  auto auto ;
  column-gap: 8px;
  align-items: center;
  //justify-content: center;
  border-radius: 45px;
  font-size: $font-medium;
  background-color: rgba(198, 229, 214, 0.3);
  z-index: 10;
  user-select: none;
}

.dropdown-icon{
  margin-top: 4px;
  transition: $transition-regular;
  &.collapsed{
    transform: rotate(180deg);
  }
}

.dropdown-body{
  position: absolute;
  top: 45px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.menu-list-dropdown{
  background-color:  rgb(211, 233, 222);
  display: flex;
  flex-direction: column;
  right: 0;
  list-style: none;
}

.menu-link{
  @extend %link;
  padding: 8px 12px;
  transition: $transition-regular;
  margin-top: 8px;

  &:hover, &:focus{
    background-color: #ECF8F4;
  }
  &.active{
    background-color: #ECF8F4;
  }
}

.menu-list .menu-link{
  padding: 8px 12px;
  border-radius: 16px;
  font-size: $font-medium;
  width: fit-content;
  &:hover, &:focus{
    background-color: #e0f7ebb2;
  }
  &.active{
    background-color: #e0f7ebd8;
  }
}

.dropdown .menu-link{
  margin: auto;
  text-align: center;
}

.logout-btn{
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}



.auth-container{
  position: relative;
  margin:auto;
  //background-image: url(./assets/images/backgraund.svg);
  //background-repeat: no-repeat;
  //background-size: contain;
}

.auth-form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.input{
  width: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  color: #191e1e;
  margin-bottom: 1em;
  padding: 15px 10px 10px;

  border: none;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #578a8a transparent ;
  border-radius: 5px;

  transition: $transition-regular;

  &::placeholder{
    color: var(--color-cyan);
    font-weight: 500;
  }

  &:focus{
    outline: none;
    border-color: #578a8a;
    background-color: #ECF8F4;
    opacity: 100%;
    border: 2px solid #578a8a;
  }
}

.submit-btn{
  font-size: $font-medium;
  transition: $transition-regular;
  border-radius: 5px;
  border: none;
  background-color: #393d3d;
  color: white;
  padding: 12px 20px;
  font-weight: 600;

  &:hover, &:focus{
    background-color: #578a8a;
    outline: none;
  }
}

.auth-submit{
  margin-top: 1rem;
  align-self: flex-end;
}

.sidebar{
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  //background-color: #31625D;
  background-color: rgb(32, 54, 53);
  border-radius: 0 60px 0 0;
  box-shadow: -10px 10px 20px #495856b7;

  background-image: url('./assets/images/print.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.course-menu{
  margin-top: 16px;
  color: #f7fffc;
  list-style: none;
}

.course-name{
  display: block;
  padding: 8px 12px;
  //margin: 8px;
  //border-radius: 5px;
  font-weight: 300;
  //font-size: $font-medium;
  //color: #000000;
  background-color: #cbf8e20c;

}

.module-name{
  display: block;
  padding: 8px;
  margin-left: 8px;
  font-weight: 500 ;
  position: relative;
}

.lessons-list{
  list-style: none;
  margin-left: 12px;
  margin-top: 4px;
}
.lessons-link{
  @extend %link;
  color: #f7fffc;
  border-radius: 2px;
  padding: 4px 8px;
  font-weight: 400 ;
  font-size: 1rem;
  margin-bottom: 2px;

  &:hover{
    background-color: #cbf8e21e;
  }
    
  &.active{
    background-color: #cbf8e24f;
  }
}
.course-component{

  //background-color: #ecf8f8;
  //border: 2px solid #cde0e6;
  padding: 24px 36px;
  margin-top: 12px;
  font-family: "OpenSans";
}
.container{
  margin-top: 100px;
}

.learn-container{
  margin-left: 270px;
  margin-top: 12px;
  margin-right: 60px;
  padding: 8px 24px;
}

.learning-component{
  display: flex;
  flex-direction: column;
}

.to-next{
  cursor: pointer;
  display: inline-block;
  align-self: flex-end;
  margin-top: 24px;
  margin-right: 24px;
  text-decoration: none;
  font-size: $font-medium;
  border: none;
  //font-family: 'Montserrat';
  font-weight: 300;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  //background-color: #226b64;
  background-color: #288686;
  //background-color:#b6e7ce;
  //background-color: rgb(228, 63, 51);
  //background-color: rgb(211, 31, 7);
  border-radius: 2px;
  box-shadow: -2px 2px 10px rgba(94, 94, 94, 0.233);
  &:hover, &:focus{
    box-shadow:  -2px 2px 15px rgba(65, 104, 101, 0.493);
  }
  &.reject{
    background-color: #e6545c;
    &:hover{
    box-shadow:  -2px 2px 15px rgba(129, 25, 25, 0.301);
  }
  }
  
}

.back-btn{
  position: relative;
  display: inline-block;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 12px;
  text-decoration: none;
  font-size: $font-medium;
  font-weight: 500;
  color: #fdfffe;
  padding: 8px 24px;
  &::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-image: url(./assets/images/left2.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.section-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.delimiter{
  margin: 4px 0 ;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #DFEDE9;
}

.component-title{
  font-weight: 300;
  font-size: 24px
}

.hidden{
  display: none;
}

.discussion-section{
  margin-top: 49px;
  padding: 12px;
}

.comment{
  margin-top: 12px;
  max-width: 600px;
  //background-color: rgba(255, 250, 225, 0.4);
  //border: 2px solid rgba(247, 237, 190, 0.712);
  background-color: #ECF8F4;
  border: 2px solid #DFEDE9;
  border-radius: 3px;
  padding: 8px 12px;
}

.lesson-progress-container{
  display: flex;
  margin-top: 12px;
  //margin-left: 12px;
}

.step-indicator{
  margin-right: 4px;
  width: 20px;
  height: 20px;
  //border: 2px solid #247a86;
  background-color: #70b4c981;
  border-radius: 3px;
  //box-shadow: inset 2px 2px 3px #b0dadd70, inset -2px -2px 3px #18bdcc6b, 2px 2px 5px #22767e3f

  &.completed{
    background-color: #246f86;
    //border: 2px solid #247786;
  }
  &.active{
    border: 2px solid #246f86;
    transform: scale(1.2);
  }
}

.modules-section--header{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.modules-section--title{
  font-size: $font-medium;
}

.section{
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.section-title{
  font-size: $font-large;
  font-weight: 300;
  margin-bottom: 8px;
}

.title{
  font-size: $font-large;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 300;
  text-align: center;
}

.basic-info-section{
  //margin: auto;
  //max-width: 900px;
  display: grid;
  row-gap: 10px;
}
.constructor{
  max-width: 1060px;
  width: 90%;
  margin: auto;
}

.constructor-header{
  display: flex;
  justify-content: space-between;
}

.constructor-header--actions{
  display: grid;
  grid-auto-flow: column;
  column-gap: 4px;
}

.module-block{
  border: 1px solid #DFEDE9;
  border-radius: 5px;
  padding: 10px;
}

.modules-section{
  margin: auto;
  max-width: 960px;
  display: grid;
  row-gap: 15px;
}

.module-block--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress{
  width: 100%;
  display: grid;
  row-gap: 4px;
}

.progress--label{
  font-size: $font-small;
  font-weight: 500;
  color: rgba(14,142,165,1);
}

.progress-bar{
  width: 100%;
  height: 15px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.progress--entire{
  background-color: (212, 243, 255, 0.575);
  height: 100%;
  width: 100%;
  }

.progress--completed{
  top: 0;
  left: 0;
  height: 100%;
  //width: 80%;
  position: absolute;
  background: rgb(212,243,255);
  background: linear-gradient(267deg, rgba(190, 231, 247, 0.651) 0%, rgba(14,142,165,1) 100%);
  //border-right: 1px solid rgba(163, 210, 228, 0.349);
  z-index: 1;
  }

.created-course-list{
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
  justify-items: center;
}

.created-course-preview{
  cursor: pointer;
  position: relative;
  display: grid;
  row-gap: 8px;
  align-content: flex-start;
  color: #233030;
  text-decoration: none;
  width: 100%;
  //max-width: 350px;
  padding: 16px 20px;
  min-height: 100px;
  border-radius: 5px;
  background-color: #effcf8;
  background-image: url('./assets/images/print3.svg');
  background-size: cover;
  box-shadow: -3px 3px 8px #96afab98;
  transition: $transition-regular;

  &.published{
    background-color: #d4f0e5;
    &:hover{
      background-color: #f6fffb;
    }
  }
  &.dev{
    background-color: #d7f0f8;
    &:hover{
      background-color: #e9faff;
    }
  }
  &.rejected{
    background-color: #fae4e0;
    &:hover{   
      background-color: #fff7f6;
    }
  }

  &.on_moderation{
    background-color: #bad7e0;
    &:hover{   
      background-color: #bad7e0;
    }
  }

  &:hover{
    box-shadow: -3px 3px 15px #6172708a;
  }
}
.preview--status{
  position: absolute;
  right: 12px;
  top: 0;
  font-weight: 500;
  display: block;
  margin-top: 12px;
  &.published{
    color: #07725b;
  }

  &.dev{
    color: #05869c;
  }

  &.rejected{
    color: #ca391f;
  }
  &.on_moderation{
    color: #47666b;
  }

}

.constructor-link{
  display: flex;
  background-color: transparent;
  background-image: none;
  border: #cee4d9 dashed 2px;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  &:hover{
    background-color: transparent;
    border-color: #578a8a;
    box-shadow: none;
  }
}

.current-course-preview{
  cursor: pointer;
  display: block;
  color: #191e1e;
  padding: 12px 20px;
  text-decoration: none;
  width: 100%;
  max-width: 390px;
  border-radius: 5px;
  background-color: #f1fdfd;
  background-image: url('./assets/images/print2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: -3px 3px 8px #96abaf98;
  transition: $transition-regular;
  .preview--creator{
    color: #005e6e;
  }
  .preview--title{
    color: #1f3b41;
  }
  &:hover{
    background-color: lighten(#f1fdfd, 2%);
    box-shadow: -4px 4px 10px #558b8b75;
  }
}
.current-preview{
  display: grid;
  grid-template-rows: 30px 20px 70px;
  align-items: center;
}

.modal{
  position: relative;
  background-color: #effcf8;
  width: 600px;
  margin: 10vw auto;
  outline: none;
  border-radius: 10px;
  padding: 20px;

  background-image: url('./assets/images/print.svg');
  background-repeat: no-repeat;
  background-size: contain;
  // &::before{
  //   content: "";
  //   top:-5px;
  //   left: -3px;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   border: 3px dashed #76acac98;
  //   border-radius: 10px;
  //   transform: scaleX(0.95) scaleY(0.85);
  // }
}
.modal--header{
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}
.modal--title{
  margin-bottom: 0;
}
.modal--content{
  margin: auto;
  display: grid;
  width: 60%;
}

.modal--actions{
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.constructor--name-input{
  font-size: $font-large;
  font-weight: 300;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: "Roboto";
  &:focus{
    outline: none;
  }
}
.header--hr{
  border: none;
  border-top: 2px solid #82bbad88;
}


.lessons-section{
  display: grid;
  grid-auto-flow: row;
  row-gap: 8px;
}
.lesson-block{
  border: 1px solid #DFEDE9;
  background-color: #dfede942;
  border-radius: 5px;
  padding: 0 12px 12px;
}

.lesson-block--create{
  display: grid;
  grid-template-columns: 1fr auto;
  border: 2px dashed #DFEDE9;
  background-color: transparent;
  column-gap: 12px;
  align-items: flex-end;
  margin-top: 20px;
  transition: $transition-regular;
  &:hover{
    background-color: #DFEDE9;
    border-color: #94a8a3;
  }
}

.lesson-block--header{
  padding: 0 12px;
  display: grid;
  grid-template-columns: 4ch 1fr 10ch 10ch 100px;
  font-weight: 500;
  justify-items: left;
  align-items: center;

}
.lesson-block--content{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.lesson-block--hr{
  border: none;
  border-top: 1px solid #DFEDE9;
}

.component-block{
  padding: 0 12px;
  display: grid;
  grid-template-columns: 4ch 1fr 10ch 10ch 100px;
  justify-items: left;
  align-items: center;
  border-radius: 5px;
  transition: $transition-regular;
  &:hover{
    background-color: #578a8a1c;
  }
}

.message{
  padding: 20px 60px;
  margin: 20px auto;
  background-color: #dfede99a;
  border: 2px solid #adccc3;
  border-radius: 10px;
}

.window{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
}

.constructor-container{
  position: relative;
  margin: 10vw auto;
  background-color: #effcf8;
  width: 700px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -10px 10px 30px #5c68687c;
  background-image: url('./assets/images/print.svg');
  background-repeat: no-repeat;
  background-size: contain;
  
}

.constructor{
  margin-top: 20px;
  display: grid;
  z-index: 100;
}

.component-constructor{
  display: grid;
  row-gap: 12px;
}

.lesson-block--actions{
  display: grid;
  grid-auto-flow: column;
}

.payment-container{
  position: relative;
  margin: 5vw auto;
  min-width: 400px;
  box-shadow: -10px 10px 30px #49585659;
  background-color: #effcf8;
  border-radius: 10px;
  padding: 40px;
  
  background-image: url('./assets/images/print.svg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.payment--details{
  margin: auto;
  margin-top: 2vw;
  max-width: 700px;
  display: grid;
  align-items: center;
  row-gap: 20px;
}

.payment-form{
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  row-gap: 12px;
}

.task-container{
  display: grid;
  border: 3px dashed #76acac98;
  border-radius: 10px;
  padding: 40px 50px 10px;
  min-width: 400px;
  margin: 24px auto;
  row-gap: 12px;
  &.theory{
    width: 90%;
  }
}

.task-text{
  font-size: $font-medium;
  font-weight: 500;
}
.course-overview-info{
  max-width: 960px;
  margin: auto;
}
.overview-actions{
  display: flex;
  justify-content: flex-end;
}

.mt-2{
  margin-top: 2vw;
}
.mb-1{
  margin-bottom: 1.5vw;
}

.course-description{
  font-size: $font-medium;
  font-weight: 300;
  margin-left: 12px;
  margin-bottom: 12px;
}
.subtitle{
  font-weight: 400;
}
.achievement-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.achievement{
  &.newbie{
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/monsters/2x/Asset\ 25@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

}

.achievement-container{
  width: 200px;
  display: grid;
  grid-template-rows: 200px auto;
  place-items: center;
  .title{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #075866;
  }
}

.container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-page{
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  .title{
    align-self: center;
    font-size: 2.2rem;
    margin-bottom: 0;
  }
}
.admin-courses-list{
  display: grid;
  row-gap: 8px;
  margin: 16px 0;
}
.admin-preview{
  cursor: pointer;
  display: grid;
  padding: 12px 16px;
  display: grid;
  grid-template-rows: auto 40px auto;
  color: #191e1e;
  text-decoration: none;
  border-radius: 5px;
  //box-shadow: $box-shadow-regular;
  background-color:#e7f8f0;
  border: 1px solid #b5d6c7;
  transition: $transition-regular;
 
  &:hover{   
    background-color: #f0fff8;
  }
  
}
.overview-header{
  margin: 16px 0;
  .title{
    margin-bottom: 0;
  }
  display: grid;
  justify-items: center;
}

.overview-block{
  .subtitle{
    font-size: $font-medium;
    margin-bottom: 4px;
  }
  .header--hr{
    border-width: 1px;
    margin-bottom: 4px;
  }
  li{
    display: block;
    margin-bottom: 8px;
    margin-left: 24px;
  }
}

.lesson-learn-action{
  display: flex;
  justify-content: flex-end;
  
  
}
.score{
  display: block;
  font-size: $font-medium;
  font-weight: 500;
  color: #288686;
  margin-top: 12px;
}