@import './styles/fonts.scss';
@import './styles//variables.scss';

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


%link{
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: block;
}

html, body{
  height: 100%;
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  min-height: 100%;
  background-color: #FAFFFC;
}

.app-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo{
  width: 160px;
  height: 50px;
  background-image: url(./assets/images/Profound.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.app-nav{
  height: 50px;
  margin-top: 12px ;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content{
  margin: 0 4vw;
}

.discover-section{
  width: 90%;
  margin: auto;
}

.course-list{
  width: 100%;
  margin-top: 16px ;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px) ;
  gap: 20px;
}

.course-preview{
  cursor: pointer;
  color: #191e1e;
  text-decoration: none;
  width: 270px;
  height: 170px;
  border-radius: 5px;
  box-shadow: $box-shadow-regular;
  background-color: #d7f1e4;
  transition: $transition-regular;
  &:hover{
    background-color: lighten(#d7f1e4, 3%);
    box-shadow: $box-shadow-regular--hover;
  }
}

.p-info{
  padding: 12px 16px;
  position: relative;
  max-lines: 2;
  text-overflow: ellipsis;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr ;
}



.p-title {
  font-weight: 500;
  margin: auto 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.p-creator{
  font-size: $font-small;
}

.p-description{
  text-overflow: ellipsis;
}

.p-price{
  position: absolute;
  right: 24px;
  bottom: 12px;
}

.actions-container{
  display: flex;
}
.auth-link{
  @extend %link;
  margin-left: 12px;
  background-color: rgba(198, 229, 214, 0.28);
  border-radius: 45px;
  padding: 8px 28px;
  font-size: $font-medium;
}



.home{
  display: flex;
  justify-content: center;
  max-width: 1060px;
  width: 90%;
  margin: auto;
  .course-preview{
    width: 100%;
    background-color: #ECF8F4;
  }
}

.user-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 550px;
  padding: 28px;
  background-color: rgba(164, 206, 185, 0.42);
  background-color: #d3eee0;
  border-radius: 5px 45px 5px 5px;
}

.user-img{
  background-image: url('./assets/images/user.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  margin: 24px auto;
}

.home-section{
 flex-grow: 1;
 margin-left: 12px;
 padding: 12px;
}

.menu-list{
  list-style: none;
}

.dropdown{
  position: relative;
  //width: 190px;
  //height: 35px;
  padding: 4px 36px;
  display: grid;
  grid-template-columns:  auto auto ;
  column-gap: 8px;
  align-items: center;
  //justify-content: center;
  border-radius: 45px;
  font-size: $font-medium;
  background-color: rgba(198, 229, 214, 0.3);
  z-index: 10;
  user-select: none;
}

.dropdown-icon{
  margin-top: 4px;
  transition: $transition-regular;
  &.collapsed{
    transform: rotate(180deg);
  }
}

.dropdown-body{
  position: absolute;
  top: 45px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.menu-list-dropdown{
  background-color:  rgb(211, 233, 222);
  display: flex;
  flex-direction: column;
  right: 0;
  list-style: none;
}

.menu-link{
  @extend %link;
  padding: 8px 12px;
  transition: $transition-regular;
  margin-top: 8px;

  &:hover, &:focus{
    background-color: #ECF8F4;
  }
  &.active{
    background-color: #ECF8F4;
  }
}

.menu-list .menu-link{
  padding: 8px 12px;
  border-radius: 16px;
  font-size: $font-medium;
  width: fit-content;
  &:hover, &:focus{
    background-color: #e0f7ebb2;
  }
  &.active{
    background-color: #e0f7ebd8;
  }
}

.dropdown .menu-link{
  margin: auto;
  text-align: center;
}

.logout-btn{
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}



.auth-container{
  position: relative;
  margin:auto;
  //background-image: url(./assets/images/backgraund.svg);
  //background-repeat: no-repeat;
  //background-size: contain;
}

.auth-form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.input{
  width: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  color: #191e1e;
  margin-bottom: 1em;
  padding: 15px 10px 10px;

  border: none;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #578a8a transparent ;
  border-radius: 5px;

  transition: $transition-regular;

  &::placeholder{
    color: var(--color-cyan);
    font-weight: 500;
  }

  &:focus{
    outline: none;
    border-color: #578a8a;
    background-color: #ECF8F4;
    opacity: 100%;
    border: 2px solid #578a8a;
  }
}

.submit-btn{
  font-size: $font-medium;
  transition: $transition-regular;
  border-radius: 5px;
  border: none;
  background-color: #393d3d;
  color: white;
  padding: 12px 20px;
  font-weight: 600;

  &:hover, &:focus{
    background-color: #578a8a;
    outline: none;
  }
}

.auth-submit{
  margin-top: 1rem;
  align-self: flex-end;
}

.sidebar{
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  //background-color: #31625D;
  background-color: rgb(29, 43, 42);
  border-radius: 0 60px 0 0;
  box-shadow: -10px 10px 20px #495856b7;
}

.course-menu{
  margin-top: 16px;
  color: #f7fffc;
  list-style: none;
}

.course-name{
  display: block;
  padding: 8px 12px;
  //margin: 8px;
  //border-radius: 5px;
  font-weight: 300;
  //font-size: $font-medium;
  //color: #000000;
  background-color: #cbf8e20c;

}

.module-name{
  display: block;
  padding: 8px;
  margin-left: 8px;
  font-weight: 500 ;
  position: relative;
}

.lessons-list{
  list-style: none;
  margin-left: 12px;
  margin-top: 4px;
}
.lessons-link{
  @extend %link;
  color: #f7fffc;
  border-radius: 2px;
  padding: 4px 8px;
  font-weight: 400 ;
  font-size: 1rem;
  margin-bottom: 2px;

  &:hover{
    background-color: #cbf8e21e;
  }
    
  &.active{
    background-color: #cbf8e24f;
  }
}
.course-component{

  //background-color: #ecf8f8;
  //border: 2px solid #cde0e6;
  padding: 24px 36px;
  margin-top: 12px;
  font-family: "OpenSans";
}
.container{
  margin-top: 100px;
}

.learn-container{
  margin-left: 270px;
  margin-top: 12px;
  margin-right: 60px;
  padding: 8px 24px;
}

.learning-component{
  display: flex;
  flex-direction: column;
}

.to-next{
  display: inline-block;
  align-self: flex-end;
  margin-top: 24px;
  margin-right: 24px;
  text-decoration: none;
  font-size: $font-medium;
  //font-family: 'Montserrat';
  font-weight: 300;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  //background-color: #226b64;
  background-color: #22606b;
  //background-color:#b6e7ce;
  //background-color: rgb(228, 63, 51);
  //background-color: rgb(211, 31, 7);
  border-radius: 2px;
  box-shadow: -2px 2px 10px rgba(94, 94, 94, 0.233);;
}

.back-btn{
  position: relative;
  display: inline-block;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 12px;
  text-decoration: none;
  font-size: $font-medium;
  font-weight: 500;
  color: #fdfffe;
  padding: 8px 24px;
  &::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-image: url(./assets/images/left2.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.section-header{
  margin-bottom: 12px;
}
.delimiter{
  margin: 4px 0 ;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #DFEDE9;
}

.component-title{
  font-weight: 300;
  font-size: 24px
}

.hidden{
  display: none;
}

.discussion-section{
  margin-top: 49px;
  padding: 12px;
}

.comment{
  margin-top: 12px;
  max-width: 600px;
  //background-color: rgba(255, 250, 225, 0.4);
  //border: 2px solid rgba(247, 237, 190, 0.712);
  background-color: #ECF8F4;
  border: 2px solid #DFEDE9;
  border-radius: 3px;
  padding: 8px 12px;
}

.lesson-progress-container{
  display: flex;
  margin-top: 12px;
  //margin-left: 12px;
}

.step-indicator{
  margin-right: 4px;
  width: 20px;
  height: 20px;
  //border: 2px solid #247a86;
  background-color: #70b4c981;
  border-radius: 3px;
  //box-shadow: inset 2px 2px 3px #b0dadd70, inset -2px -2px 3px #18bdcc6b, 2px 2px 5px #22767e3f

  &.completed{
    background-color: #246f86;
    //border: 2px solid #247786;
  }
  &.active{
    border: 2px solid #246f86;
    transform: scale(1.2);
  }
}

.modules-section--header{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.modules-section--title{
}

.section{
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.section-title{
  font-size: $font-large;
  font-weight: 300;
  margin-bottom: 8px;
}

.title{
  font-size: $font-large;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 300;
  text-align: center;
}

.basic-info-section{
  //margin: auto;
  //max-width: 900px;
  display: grid;
  row-gap: 10px;
}
.constructor{
  max-width: 1060px;
  width: 90%;
  margin: auto;
}

.constructor-header{
  display: flex;
  justify-content: space-between;
}

.constructor-header--actions{

}

.module-block{
  border: 1px solid #DFEDE9;
  border-radius: 5px;
  padding: 10px;
}

.modules-section{
  display: grid;
  row-gap: 15px;
}

.module-block--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress--label{
  font-size: $font-small;
  color: #246f86;
}

.progress-bar{
  height: 20px;
  &--enire{
    background-color: #f7fffc;
  }
  &--completef{
    background-color: #22606b;
  }

}

.progress--entire{
  width: 100%;
}

.progress--entire{

}